body {
  background-image: url("../img/assets/backgrounds/paper_bg.jpg");
}

.page {
  align-items: unset;
}

#drb-c {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: #333;
}

#dr-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  left: 0;
  z-index: 10;
}

#dice-roller-btn {
  width: 3rem;
  height: 3rem;
  color: whitesmoke;
  background-color: #444;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

#dice-roller {
  width: 20rem;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #333;
  height: 30rem;
  padding: 1rem;
}

#dice-btn-c {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

#dcv-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  color: whitesmoke;
}

#dr-label {
  font-size: xx-large;
  cursor: pointer;
}

#double {
  width: 1.5rem;
  height: 1.5rem;
}

.dice {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: none;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  cursor: pointer;
}

.dice img {
  height: 100%;
  width: 100%;
}

#current-roll {
  font-size: 5rem;
}

#rolls {
  font-size: large;
}

#empty-rolls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  color: whitesmoke;
  font-size: large;
  background-color: #444;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

option {
  text-align: center;
}

input[type="text"] {
  background-color: #333;
  border: 0.3rem solid #222;
  line-height: 2.334;
}

input[type="text"]::placeholder {
  color: whitesmoke;
}

select {
  cursor: pointer;
  font-family: "Modern Antiqua", sans-serif;
  text-align: center;
  height: 4rem;
  width: 4rem;
  font-size: large;
  color: whitesmoke;
  background-color: #333;
  border: 0.3rem solid #222;
  border-radius: 0.5rem;
  -ms-overflow-style: none; /* IE and Edge */ /* Hide scrollbar for IE, Edge and Firefox */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
select::-webkit-scrollbar {
  display: none;
}

#character-maker {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
  width: 55%;
  background-color: #444;
  -ms-overflow-style: none; /* IE and Edge */ /* Hide scrollbar for IE, Edge and Firefox */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
#character-maker::-webkit-scrollbar {
  display: none;
}

#header {
  margin: 1rem 2rem 0rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

#body {
  margin: 0 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #555;
  border-radius: 2rem;
}

#stats {
  padding: 1rem;
  width: 60%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.stat {
  text-align: center;
  width: 2.3rem;
}

.stat-container {
  gap: 1rem;
  justify-content: space-around;
}

#physical {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#inner {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#health-sanity {
  padding: 1rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  gap: 1rem;
  background-color: #444;
  border-radius: 1rem;
}

#path-container {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-self: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 50%;
  background-color: #555;
  border-radius: 1rem;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: larger;
  gap: 1rem;
}

#character-info {
  display: flex;
  gap: 1rem;
  margin: 0rem 2rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #555;
}

#character-info label {
  flex-direction: column;
  gap: 1rem;
}

#knowledge {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: larger;
}

.skill-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
}

.remove-knowledge {
  background-color: transparent;
  border-radius: 0.5rem;
  border: 0.2rem solid #222;
  color: #222;
  font-size: x-large;
  cursor: pointer;
}

#inventory-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#hands {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#inventory {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  background-color: #444;
  border-radius: 2rem;
}

#inventory-txt {
  font-size: larger;
  text-align: center;
}

.inventory-slot {
  font-size: large;
}

#creabe-btn {
  align-self: center;
  margin-bottom: 1rem;
  cursor: pointer;
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding: 1rem;
  width: fit-content;
  background-color: #333;
  color: whitesmoke;
  font-size: larger;
  text-decoration: none;
  border-radius: 0.5rem;
  border: 0.3rem solid #222;
}

@media (orientation: portrait) and (max-width: 768px) {
  #character-maker {
    width: 95%;
    align-items: center;
  }

  #header {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0;
    margin-top: 1rem;
    height: auto;
  }

  #body {
    width: 85%;
    align-items: center;
    margin: 0.5rem 0;
  }

  #stats {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  #physical {
    width: 80%;
  }

  #inner {
    width: 80%;
  }

  #health-sanity {
    width: 80%;
    margin-bottom: 1rem;
  }

  #path-container {
    width: auto;
    gap: 1rem;
  }

  #character-info {
    width: 85%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0;
  }

  #knowledge {
    width: auto;
  }

  #inventory-container {
    width: 100%;
  }

  #hands {
    width: 100%;
    gap: 1rem;
  }
}
