body {
  background-image: url("../img/paper_bg.jpg");
}

option {
  text-align: center;
}

input[type="text"] {
  background-color: #333;
  border: 0.3rem solid #222;
  line-height: 2.334;
}

input[type="text"]::placeholder {
  color: whitesmoke;
}

select {
  font-family: "Modern Antiqua", sans-serif;
  text-align: center;
  height: 4rem;
  width: 4rem;
  font-size: large;
  color: whitesmoke;
  background-color: #333;
  border: 0.3rem solid #222;
  border-radius: 0.5rem;
  -ms-overflow-style: none; /* IE and Edge */ /* Hide scrollbar for IE, Edge and Firefox */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
select::-webkit-scrollbar {
  display: none;
}

#character-maker {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: calc(100% - 4rem);
  width: 55%;
  position: absolute;
  bottom: 0;
  background-color: #444;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */ /* Hide scrollbar for IE, Edge and Firefox */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
#character-maker::-webkit-scrollbar {
  display: none;
}

#header {
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
  height: 5rem;
}

#body {
  display: flex;
  justify-content: space-evenly;
}

#stats {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 40%;
}

.stat {
  text-align: center;
  width: 2.3rem;
}

.stat-container {
  gap: 1rem;
  justify-content: space-around;
}

#physical {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#inner {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#health-path-lvl {
  padding: 1rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
}

#character-info {
  margin: 0rem 2rem 2rem 2rem;
}

textarea{
  font-family: "Modern Antiqua", sans-serif;
  padding: 0.5rem;
  font-size: large;
  line-height: 2;
  border-radius: 0.7rem;
  background-color: #555;
  border: 0.2rem solid #333;
  color: whitesmoke;
}

#character-info label{
  flex-direction: column;
  gap: 1rem;
}

#add-knowledge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: whitesmoke;
  border-radius: 0.5rem;
}