body {
  background-image: url(../img/bg.jpg);
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-text {
  color: black;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  text-shadow: 0.15rem 0.15rem 0.15rem black;
  font-size: x-large;
}

#cim {
  align-self: center;
  font-size: xx-large;
}

#text {
  text-align: justify;
  line-height: 1.8;
}

@media (max-width: 425px) {
  .index-text {
    line-height: 1.8;
    font-size: medium;
    width: 80%;
    height: auto;
  }
}

@media (max-height: 425px) {
  .index-text {
    line-height: 1.8;
    font-size: medium;
    height: auto;
    width: 80%;
  }
}
