body {
  background-image: url(../img/assets/backgrounds/bg.jpg);
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-text {
  color: black;
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  text-shadow: 0.2rem 0.2rem 0.2rem black;
  font-size: 1.7rem;
}

#cim {
  align-self: center;
  font-size: 4rem;
}

#text {
  text-align: justify;
  line-height: 1.8;
}

@media (max-width: 425px) {
  #cim {
    font-size: x-large;
  }

  .index-text {
    line-height: 1.8;
    font-size: medium;
    height: auto;
  }
}

@media (max-height: 425px) {
  .index-text {
    line-height: 1.8;
    font-size: medium;
    height: auto;
  }
}
