body {
  background-image: url("../img/assets/backgrounds/paper_bg.jpg");
}

.page {
  flex-direction: column;
  justify-content: unset;
}

.container {
  width: 80%;
}

#header {
  width: calc(100% - 10rem);
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  background-color: #444;
}

#name {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 3rem;
}

#path {
  font-size: x-large;
  color: whitesmoke;
}

#header-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: x-large;
}

#body {
  padding: 1rem;
  height: 100%;
  background-color: #555;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-stat-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: #444;
  border: 0.2rem solid #333;
  border-radius: 1rem;
}

.value-container {
  display: flex;
}

.mod {
  color: whitesmoke;
  text-align: center;
}

#amount {
  width: 3rem;
  text-align: center;
  font-size: larger;
  color: whitesmoke;
  background-color: #555;
  border: 0.15rem solid #333;
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}

.main-stat-btn {
  height: 3rem;
  width: 3rem;
  border: 0.15rem solid #333;
  background-color: #444;
  cursor: pointer;
  border-radius: 50%;
}

.heal {
  color: green;
}

.damage {
  color: red;
}

.title {
  text-align: center;
  font-size: large;
}

#stats {
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  font-size: larger;
}

.stat {
  width: 6rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: #444;
  border: 0.2rem solid #333;
  border-radius: 1rem;
  cursor: pointer;
}

.value-mod-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  padding: 0.3rem 1rem;
  background-color: #555;
  border-radius: 0.5rem;
  border: 0.15rem solid #333;
  color: whitesmoke;
  font-size: x-large;
}

#other {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.body-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #444;
  padding: 1rem;
  border: 0.2rem solid #333;
}

.body-item-container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: larger;
}

.body-container-item {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#knowledge {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #444;
  padding: 1rem;
  border: 0.2rem solid #333;
}

#equipment {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#weapons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#hands {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: larger;
}

.hands {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: larger;
}

.hand {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.weapon {
  padding: 0.5rem;
  height: 2rem;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  color: whitesmoke;
  background-color: #444;
  border: 0.2rem solid #333;
}

#armour {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.shield {
  padding: 1rem;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #444;
  border: 0.2rem solid #333;
  border-radius: 0 0 50% 50%;
}

#inventory {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25%;
  padding: 1rem;
  background-color: #444;
  border: 0.2rem solid #333;
}

#item-container {
  width: 100%;
}

.item {
  width: 100%;
  color: whitesmoke;
}

#throw-container {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#throw {
  height: 10rem;
  width: 10rem;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #333;
  border-radius: 1rem;
}

@media (orientation: portrait) and (max-width: 768px) {
  #header {
    padding: 0.5rem;
    width: calc(100% - 1rem);
  }

  #name {
    font-size: x-large;
  }

  #header-container {
    font-size: large;
    gap: 0.5rem;
  }

  #stats {
    flex-wrap: wrap;
  }

  #body {
    height: auto;
  }

  #other {
    flex-direction: column;
    gap: 1rem;
  }

  .body-container {
    width: auto;
  }

  #equipment {
    width: auto;
  }

  #knowledge {
    width: auto;
  }

  #inventory {
    width: auto;
  }
}
