body {
  background-image: url(../img/assets/backgrounds/bg.jpg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  font-size: 5rem;
  text-align: center;
  margin-left: 5rem;
  color: whitesmoke;
  text-shadow: 0.15rem 0.15rem 0.15rem black;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  width: 30%;
  height: 100%;
  padding: 0 3rem;

  font-size: x-large;
  gap: 2rem;
}

#form-container {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

#register_btn {
  font-family: "Modern Antiqua", sans-serif;
  width: 50%;
  align-self: center;
  padding: 0.5rem;
  font-size: large;
  line-height: 1.5;
  border-radius: 0.7rem;
  background-color: #444;
  border: 0.2rem solid #222;
  cursor: pointer;
  transition: 0.5s ease;
}

#register_btn:hover {
  border: 0.2rem solid #f2c488;
  color: #f2c488;
  transition: 0.5s ease;
}
#to-index {
  text-decoration: none;
  color: whitesmoke;
  position: relative;
}

@media (max-width: 425px) and (orientation: portrait) {
  body {
    flex-direction: column;
    gap: 2rem;
    justify-content: unset;
  }

  #title {
    font-size: 3rem;
    margin-left: unset;
    margin-top: 3rem;
    margin-left: 0;
  }

  #container {
    height: auto;
    width: auto;
    padding: 2rem;
    border-radius: 2rem;
  }

  #register_btn {
    color: #f2c488;
    border-color: #f2c488;
    width: 85%;
  }
}
