body {
  font-family: "Modern Antiqua", sans-serif;
  background-color: #444;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.navbar {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

#navbar-mobile {
  display: none;
}

#navbar-links {
  display: flex;
  align-items: center;
}

.index-link img {
  max-width: 4rem;
}

.navbar a {
  height: 100%;
}

.navbar-link {
  padding: 0rem 1rem;
  text-decoration: none;
  color: wheat;
  font-size: larger;
  transition: 0.5s ease;
}

.navbar-link:hover {
  padding: 1.3rem;
  background-color: wheat;
  color: #333;
}

#author {
  padding: 0rem 1rem;
  color: wheat;
  font-size: x-large;
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#m-author {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    height: 3rem;
  }

  #navbar-mobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .index-link img {
    max-width: 3rem;
  }

  .navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #navbar-links {
    display: none;
  }

  #mobile-menu img {
    height: 3rem;
  }

  #mobile-menu-container {
    opacity: 0;
    height: 10rem;
    width: 10rem;
    position: absolute;
    top: 99%;
    right: 0%;
    display: none;
    flex-direction: column;
    padding: 0.5rem;
    background-color: #333;
    justify-content: center;
  }

  #mobile-menu-container.visible {
    display: flex;
    opacity: 1;
  }

  .faj-csoport-link {
    text-align: center;
  }

  #m-author {
    display: block;
    padding: 0rem 1rem;
    color: wheat;
    font-size: larger;
  }

  #author {
    display: none;
  }
}
