body {
  background-image: url(../img/paper_bg.jpg);
}

.page {
  color: #222;
}

#szerep-lista-m {
  display: none;
}

#link-container {
  display: flex;
  height: 100%;
  width: fit-content;
  background-color: #444;
}

#leiras-container {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#leiras-container::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
}

.doktrina {
  list-style-type: decimal;
}

hr {
  margin: 0.5rem;
  background-color: #333;
  height: 0.2rem;
  border: none;
}

#class-list {
  margin: 0%;
  padding: 1rem;
}

.cim {
  font-size: x-large;
}

.class {
  padding: 0.5rem;
  font-size: large;
}

a {
  text-decoration: none;
}

.leiras {
  display: none;
  max-height: 100%;
  width: 80%;
  flex-direction: column;
  align-self: center;
  text-align: justify;
  line-height: 1.5;
  font-size: larger;
}

@media screen and (orientation: portrait) and (max-width: 768px) {
  #link-container {
    display: none;
    position: absolute;
    top: 4rem;
    left: 0;
  }

  ul {
    padding-inline-start: 0.3rem;
  }

  #szerep-lista-m {
    display: flex;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 2rem;
    height: 3rem;
  }

  #szerep-lista {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    width: 2rem;
    height: 3rem;
    border-radius: 0rem 0rem 0.5rem 0rem;
  }

  #lista-toggle {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 4rem);
  }
}

@media screen and (orientation: landscape) and (max-height: 768px) {
  ul {
    padding-inline-start: 0.3rem;
  }

  #link-container {
    display: none;
    position: absolute;
    top: 4rem;
    left: 0;
    height: calc(100% - 4rem);
  }

  #szerep-lista-m {
    display: flex;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 2rem;
    height: 3rem;
  }

  #szerep-lista {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    width: 2rem;
    height: 3rem;
    border-radius: 0rem 0rem 0.5rem 0rem;
  }

  #lista-toggle {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 4rem);
  }
}
