body{
    font-family: "Modern Antiqua", sans-serif;
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 4rem;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar-mobile{
    display: none;
}

#navbar-links{
    display: flex;
    align-items: center;
}

.index-link img{
    max-width: 4rem;
}

.navbar a{
    height: 100%;
}

.faj-csoport-link{
    padding: 0rem 1rem;
    text-decoration: none;
    color: wheat;
    font-size: larger;
    transition: 0.5s ease;
}

.faj-csoport-link:hover{
    padding: 1.3rem;
    background-color: #555;
}

#author{
    padding: 0rem 1rem;
    color: wheat;
    font-size: x-large;
}

.page{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#m-author{
    display: none;
}

@media (max-width: 768px) {
    .navbar{
        display: flex;
    }

    #navbar-mobile{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #navbar-links{
        display: none;
    }
    
    #mobile-menu img{
        height: 4rem;
    }

    .mobile-menu-container{
        height: 10rem;
        width: 10rem;
        position: fixed;
        top: 5%;
        right: 0%;
        display: none;
        flex-direction: column;
        padding: .5rem;
        background-color: #333;
    }

    .faj-csoport-link{
        text-align: center;
    }

    #mobile-menu:hover .mobile-menu-container{
        display: flex;
    }

    #m-author{
        display: block;
        padding: 0rem 1rem;
        color: wheat;
        font-size: x-large;
    }

    #author{
        display: none;
    }
}